/* In your CSS file or inside a <style> tag */

.login-page-wrapper {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  
  .bg-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/background.jpg'); /* Change this to your image path */
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: -1;
  }
  