

.student-information-table{
    margin-top: 50px;
}
.student-information-table .filtration-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 20px;
    gap: 10px;
}

.student-information-table .pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

